html {
  box-sizing: border-box;
  font-family: Roboto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 32px;
  color: beige;
}

h2, h3 {
  color: beige;
  margin: 8px;
}

.input-submit {
  display: flex;
  flex-direction: column;
  width: 100px;
}

#canvas {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  background-color: beige;
  width: 600px;
  height: 600px;
  box-shadow: 1px 1px 32px 8px rgb(0, 0, 0);
  padding: 0;
  margin: 16px 0 32px 0;
}

.tools {
  display: flex;
  justify-content: space-between;
}

.eraser, .pen {
  background-color: beige;
  width: 100px;
  font-size: 28px;
  color: black;
  text-align: center;
}

.pen {
  background-color: black;
  color: beige;
}

.grid-size {
  text-align: center;
  font-size: 28px;
  border: none;
}

.submit {
  font-size: 22px;
  border: none;
  background-color: red;
  color: beige;
  transition: 0.15s ease-in-out;
}

.submit:hover {
  font-size: 22px;
  border: none;
  background-color: rgb(255, 95, 95);
  color: beige;
}

.grid-square, .grid-square-dark,
.grid-square-beige {
  transition: 0.05s ease-in-out;
}

.grid-square:hover, .grid-square-dark:hover,
.grid-square-beige:hover {
  background-color: gray;
  transition: 0.05s ease-in-out;
}

.grid-square-dark {
  background-color: black;
}

.grid-square-beige {
  background-color: beige;
}

.footer {
  margin-top: auto;
  margin-bottom: 0;
  color: beige;
  font-size: 18px;
  font-weight: bold;
}